*{
    box-sizing: border-box;
}
/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: azure;
}

.navColor{
   background-color: rgb(16, 3, 69);
}

.logoNavBar{
    width: 150px;
    height: 120px;
    border: 1px rgb(255, 254, 254) solid;
    border-radius: 3px;
}

a:hover{
    background-color:rgb(35, 20, 97);
    font-weight: bold;
}

.fondoMainProd{
    background-color: rgb(43, 160, 199);
}

.tarjetaProductos{
    background-color: rgb(113, 249, 249);
    border: 2px black solid;
    width: 80%; 
    img{
       height: 350px;
       width: auto; 
    }
}



@media (max-width:768px){
    .prodResponsive{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5px;
    }
}


h1{
    font-family:'Roboto', sans-serif;
    color: rgb(24, 22, 22);
    font-weight:600;
}

h2{
    font-family:'Roboto', sans-serif;
    color: rgb(24, 22, 22);
    font-weight: 500;
}

.imgSection{   
    border: 5px solid black;
}

.btn2:hover{
    background-color: aquamarine;
    cursor:pointer;
    border: 2px black solid;
    font-weight: bold;
}

footer{
    background-color:rgb(16, 16, 17);
    color: white;
}

footer h2{
    color: white;
}

.iconoWsp{
    position: fixed;
    right:10px;
    bottom: 10px;
    .fa-whatsapp{
        color: rgb(37, 211, 102);
        font-size: 50px;
    }

}


@media (max-width:768px){
    .noImg{
        display: none;
    }
}

.displayNoRelative{
    display: inline-block;
    display: flex;
    position:unset
}
