footer{
    background-color: $chinese-black-footer;
    color: $withe;
    margin-top: 10px;
    .iconoWsp{
        position: fixed;
        right:20px;
        bottom: 20px;
        .fa-whatsapp{
            color: $ufo-green;
            font-size: 3rem;
            background-color: $withe;
            border-radius: 5px;
        }
    
    }
    .fa-instagram{
        font-size: 2rem;
        text-decoration: none;
        color:white;
    }
    .fa-facebook{
        font-size: 2rem;
        text-decoration: none;
        color: white;
    }
    .fa-x-twitter{
        font-size: 2rem;
        text-decoration: none;
        color: white;

    }
    a{
        text-decoration: none;
    }
    
}

footer h2{
    color: $withe;
}
