footer{
    background-color: $chinese-black-footer;
    color: $withe;
    .iconoWsp{
        position: fixed;
        right:20px;
        bottom: 20px;
        .fa-whatsapp{
            color: $ufo-green;
            font-size: 3rem;
        }
    
    }
    section div a i.fa-instagram.fa-brands{
        font-size: 2rem;
        text-decoration: none;
        color:white;
    }
    .fa-facebook{
        font-size: 2rem;
        text-decoration: none;
        color: white;
    }
    .fa-x-twitter{
        font-size: 2rem;
        text-decoration: none;
        color: white;

    } 
}

footer h2{
    color: $withe;
}
