.navColor{
    background-color: $cetacean-blue;
 }
 
 .logoNavBar{
     width: 150px;
     height: 120px;
     border: 1px rgb(255, 254, 254) solid;
     border-radius: 3px;
 }
 
 a:hover{
     background-color:$russian-violet;
     font-weight: bold;
 }