header{
    z-index:1050;
}

.navColor{
    background-color: rgb(8, 8, 53);
}
 
.logoNavBar{
    width: 150px;
    height: 120px;
    border: $border-claro;
    border-radius: 3px;
}

 
a:hover{
    text-decoration: underline;
    font-weight: bold;
}
