@media (max-width:768px){
    .tarjetaProductos{
        width: 80%;
        object-fit: cover;
    }
}

@media (max-width:768px){
    .noImg{
        display: none;
    }
    body form{
        width:180%;
    }
}

.displayNoRelative{
    display: inline-block;
    display: flex;
    position:unset
}