.tarjetaProductos{
    background-color: $electric-blue;
    border: $border-primary;
    border-radius: 5px;
    width: 300px;
    margin: 5px;
    padding: 2px;
    &:hover{
        background-color:$electric-blue-dark;
    }
    img{
       height: 350px;
    }
}
