h1{
    font-family:$font-family;
    font-weight:600;
    margin-bottom: 5px;
    color:$cetacean-blue;   
}

h2{
    @extend h1;
    text-decoration: none;
    font-weight: 500;
    margin-top: 5px;

}