h1{
    font-family:$font-family;
    color: $chinese-black;
    text-decoration: underline;
    font-weight:600;
    margin-bottom: 5px;   
}

h2{
    @extend h1;
    text-decoration: none;
    font-weight: 400;
}