$cetacean-blue: #100345;
$russian-violet: #231461;
$electric-blue-dark: #2fc4d4;
$rich-black: #010126;
$electric-blue: #71f9f9;
$chinese-black: #181616;
$chinese-black-footer: #101011;
$ufo-green: #25d366;
$aquamarine: #7fffd4;
$black: #000000;
$withe: #ffffff;

$font-family: 'Roboto', sans-serif;

$border-primary: 1px black solid;
$border-secondary: 2px solid black;
$border-claro: 1px #fffefe solid;

/*Mapa de colores*/

$colores: (
    cetacean-blue: #100345,
    russian-violet: #231461,
    rich-black: #010126,
    electric-blue: #71f9f9,
    chinese-black: #181616,
    aquamarine: #7fffd4,
    black: #000000,
)
