$cetacean-blue: #100345;
$russian-violet: #231461;
$electric-blue: #71f9f9;
$chinese-black: #181616;
$aquamarine: #7fffd4;
$black: #000000;

$font-family: 'Roboto', sans-serif;

$border-primary: 1px black solid;
$border-secondary: 5px solid black;
