@keyframes tamanio {
    0%{ 
       font-size: 1.8rem;
    }
    50%{
        font-size: 1.9rem;        
    }
    75%{
        font-size: 2rem;
    }
    100%{
       font-size: 32.8px;
    }
}

.animacion{
	/*NOMBRE DEL KEYFRAME*/
	animation-name: tamanio;
	
    /*CANTIDAD DE REPETICIONES*/
	animation-iteration-count: 1;
	
    /*DURACIÓN DE LA ANIMACIÓN*/
	animation-duration: 4s;
}