@keyframes tamanio {
    0%{ 
       font-size: 99%;
    }
    
    50%{
        font-size:  99%;        
    }

    100%{
       font-size:  100%;
    }
}

.animacion{

	/*NOMBRE DEL KEYFRAME*/
	animation-name: tamanio;
	
    /*CANTIDAD DE REPETICIONES*/
	animation-iteration-count: 1;
	
    /*DURACIÓN DE LA ANIMACIÓN*/
	animation-duration: 1s;
}