*{
    box-sizing: border-box;
}
/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'variables';


body{
    font-family: $font-family;
    background-image: linear-gradient(to right bottom, #2626e9, #0053f8, #0072ff, #008cfe, #00a4f9, #00aef2, #00b5e8, #00bcdd, #00bad2, #00b8c7, #01b6bc, #1bb3b0);
}

.navColor{
   background-color: $cetacean-blue;
}

.logoNavBar{
    width: 150px;
    height: 120px;
    border: 1px rgb(255, 254, 254) solid;
    border-radius: 3px;
}

a:hover{
    background-color:$russian-violet;
    font-weight: bold;
}


.tarjetaProductos{
    background-color: $electric-blue;
    border: $border-primary
   
    
    
    img{
       height: 350px;
       width: auto; 
    }
}



@media (max-width:768px){
    .prodResponsive{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5px;
    }
}


h1{
    font-family:$font-family;
    color: $chinese-black;
    font-weight:600;
}

h2{
    font-family:$font-family;
    color: $chinese-black;
    font-weight: 500;
}


.btn2:hover{
    background-color: $aquamarine;
    cursor: pointer;
    border: 2px black solid;
    font-weight: bold;
}

footer{
    background-color:rgb(16, 16, 17);
    color: white;
    .iconoWsp{
        position: fixed;
        right:20px;
        bottom: 20px;
        .fa-whatsapp{
            color: rgb(37, 211, 102);
            font-size: 3rem;
        }
    
    }
    .fa-instagram{
        font-size: 2rem;
    }
    .fa-facebook{
        font-size: 2rem;
    }
    .fa-x-twitter{
        font-size: 2rem;
    }

    
}

footer h2{
    color: white;
}



@media (max-width:768px){
    .noImg{
        display: none;
    }
}

.displayNoRelative{
    display: inline-block;
    display: flex;
    position:unset
}
